---
import Page from "$layouts/Page.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
---

<Page title="Shrines">
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h1>Shrines</h1>
            </PaperTitle>
            <div style="display: flex; flex-direction: column; align-items: start;">
                <ArrowButton href="/shrines/vinyl-scratch">Vinyl Scratch</ArrowButton>
            </div>
        </Paper>
    </ContentBlock>
</Page>

<style lang="scss"></style>
