---
interface Props {
    padding?: boolean;
}

const { padding = true } = Astro.props;
---

<div class:list={["paper-block", { padding }]}>
    <slot />
</div>

<style lang="scss">
    .paper-block {
        --paper-edge-width: 1.7rem;
        --paper-margin-line-width: 0.2rem;

        position: relative;
        display: flex;
        flex-direction: column;

        min-height: 5rem;

        padding-left: var(--paper-edge-width);

        border-image-source: url("/assets/page-decals.png");
        border-image-slice: 0 0 0 72;
        border-image-repeat: space;
        border-image-width: calc(var(--paper-edge-width) - var(--paper-margin-line-width));
        border-radius: 0.25rem;

        background-color: #f2f7fb;

        box-shadow: var(--shadow-large);

        &::before {
            content: "";
            position: absolute;
            left: calc(var(--paper-edge-width) - var(--paper-margin-line-width));
            top: 0;
            bottom: 0;

            width: var(--paper-margin-line-width);

            background-color: #fcb9b9;
        }

        &.padding {
            padding: 1rem;
            padding-left: calc(var(--paper-edge-width) + var(--paper-margin-line-width) + 1rem);
        }
    }
</style>
