---
interface Props {
    padding?: boolean;
}

const { padding = true } = Astro.props;
---

<div class:list={["sticky-note", { padding }]}>
    <div class="sticky-note-inner">
        <slot />
    </div>
</div>

<style lang="scss">
    .sticky-note {
        filter: var(--filter-shadow-medium);

        &.padding .sticky-note-inner {
            padding: 1rem 1.5rem;
        }
    }

    .sticky-note-inner {
        --sticky-note-fold-size: 1.2rem;
        --sticky-note-corner-radius: 0.2rem;

        position: relative;

        border-radius: var(--sticky-note-corner-radius);

        background-image: linear-gradient(0deg, #f9e380, #ecd673);

        color: var(--text-black);

        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - var(--sticky-note-fold-size)),
            calc(100% - var(--sticky-note-fold-size)) 100%,
            0 100%
        );

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: var(--sticky-note-fold-size);
            height: var(--sticky-note-fold-size);

            border-top-left-radius: var(--sticky-note-corner-radius);

            background-color: #00000012;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: var(--sticky-note-fold-size);
            height: var(--sticky-note-fold-size);

            border-top-left-radius: var(--sticky-note-corner-radius);

            background-color: rgba(0, 0, 0, 0.08);
        }
    }
</style>
