:root {
    --font-sans: "Lexend", system-ui, sans-serif;

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --highlighter-yellow: #f9e380;
    --highlighter-green: #baf980;

    --text-black: #2b2b2b;
    --text-white: #eeeeee;

    --shadow-medium: 0.15rem 0.15rem 0.35rem rgba(0, 0, 0, 0.15), 0rem 0rem 0.1rem rgba(0, 0, 0, 0.1);
    --shadow-large: 0.33rem 0.33rem 1rem rgba(0, 0, 0, 0.15), 0rem 0rem 0.2rem rgba(0, 0, 0, 0.1);

    --filter-shadow-medium: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.15))
        drop-shadow(0rem 0rem 0.1rem rgba(0, 0, 0, 0.05));
    --filter-shadow-large: drop-shadow(0.33rem 0.33rem 1rem rgba(0, 0, 0, 0.15))
        drop-shadow(0rem 0rem 0.2rem rgba(0, 0, 0, 0.1));

    font-size: 112.5%;
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 100%;
    }
}

@media screen and (max-width: 350px) {
    :root {
        font-size: 88%;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100svh;

    margin: 0;

    font-family: var(--font-sans);
    color: var(--text-black);
    line-height: 1.5;

    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

    font-size: 1em;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
picture,
audio,
video {
    display: block;
    line-height: 1.1;
}

button {
    padding: unset;

    border: unset;
    background: unset;

    font-family: inherit;
    font-size: 1em;
    color: inherit;

    cursor: pointer;
}

ul,
ol {
    margin: unset;
    padding: unset;
}

.background-carpet {
    background-color: #2c4e9c;
    background-image: url("/assets/carpet-overlay.png"), linear-gradient(45deg, #2c4e9c, #2668b0);
    background-size: 40rem, auto;
    background-repeat: repeat, no-repeat;
    background-blend-mode: overlay, normal;
    background-attachment: scroll, fixed;
}
