<div class="content-block">
    <slot />
</div>

<style lang="scss">
    .content-block {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: var(--site-content-width);
        align-self: center;

        padding-inline: var(--site-content-edge);

        &:not(:first-child) {
            margin-top: var(--site-content-spacing);
        }
    }
</style>
