---
import Polaroid from "$components/elements/Polaroid.astro";
import Tagline from "$components/elements/Tagline.astro";
import TitleSVG from "$assets/paperbark-title.svg";
import paperbarkProfile from "$assets/paperbark-profile.jpg";
---

<div class="site-banner">
    <div class="left">
        <Polaroid src={paperbarkProfile.src} angle="-5deg" width="100%" />
        <button id="boop-target" title="Boop!" class="hidden"></button>
        <div id="explosion"></div>
    </div>
    <div class="right">
        <TitleSVG class="title" />
        <Tagline />
    </div>
</div>

<script>
    const boopTarget = document.getElementById("boop-target");
    const explosion = document.getElementById("explosion");

    const squeeAudio = new Audio("/assets/squee.ogg");
    const squeeAltAudio = new Audio("/assets/squee-alt.ogg");
    const explodeAudio = new Audio("/assets/deltarune-explosion.ogg");

    let boopCounter = 0;
    let boopCounterReset: number;

    let exploded = false;
    let explosionAnimationFrame = 0;
    let explosionAnimationInterval: number;

    squeeAudio.volume = 0.4;
    squeeAltAudio.volume = 0.4;
    explodeAudio.volume = 0.3;

    squeeAudio.preservesPitch = false;
    squeeAltAudio.preservesPitch = false;

    if (boopTarget) {
        boopTarget.classList.remove("hidden");
        boopTarget.addEventListener("click", boop);
    }

    function boop() {
        clearTimeout(boopCounterReset);
        boopCounterReset = setTimeout(() => (boopCounter = 0), 500);

        if (exploded) {
            if (boopCounter > 0) {
                return;
            } else {
                exploded = false;
            }
        }

        boopCounter++;

        squeeAudio.pause();
        squeeAltAudio.pause();

        let audio = squeeAudio;
        if (Math.random() < 0.5) {
            audio = squeeAltAudio;
        }

        audio.currentTime = 0;
        audio.playbackRate = Math.random() * 0.1 + 0.98 + Math.pow(boopCounter / 20, 2) * 1.2;
        audio.play();

        if (boopCounter > 20 && !exploded) {
            squeeAudio.pause();
            squeeAltAudio.pause();
            explode();
        }
    }

    function explode() {
        if (exploded || !explosion) return;

        exploded = true;

        if (explodeAudio) {
            explodeAudio.currentTime = 0;
            explodeAudio.play();
        }

        explosionAnimationFrame = 0;
        explosion.setAttribute("style", `--frame: ${explosionAnimationFrame}`);

        clearInterval(explosionAnimationInterval);
        explosionAnimationInterval = setInterval(() => {
            explosionAnimationFrame++;
            explosion.setAttribute("style", `--frame: ${explosionAnimationFrame}`);

            if (explosionAnimationFrame >= 17) {
                clearInterval(explosionAnimationInterval);
            }
        }, 75);
    }
</script>

<style lang="scss">
    .site-banner {
        width: 100%;
        max-width: 50rem;
        align-self: center;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-inline: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        gap: 1rem;

        .left {
            position: relative;

            width: 34%;
            max-width: 15rem;
            display: flex;
            flex-direction: column;

            padding: 1rem;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            gap: 1rem;
        }

        .title {
            width: 100%;
            filter: var(--filter-shadow-medium);
        }
    }

    @media screen and (max-width: 650px) {
        .site-banner {
            flex-direction: column;

            padding-inline: 0rem;
            padding-top: 1rem;

            .left {
                width: 50%;
            }

            .right {
                width: 100%;
                padding: 0 2rem;
            }

            .title {
                max-width: 25rem;
            }
        }
    }

    #boop-target {
        position: absolute;
        top: 47%;
        left: 23%;
        bottom: 38%;
        right: 53%;

        border-radius: 50%;
    }

    #explosion {
        --frame: 0;
        --size: 17.5rem;
        position: absolute;
        top: 50%;
        left: 50%;

        width: var(--size);
        height: var(--size);

        background-image: url("/assets/deltarune-explosion.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: calc(var(--frame) * var(--size) * -1);

        transform: translate(-50%, -50%);
        pointer-events: none;
        image-rendering: pixelated;
        z-index: 50;
    }
</style>
