---
import Page from "$layouts/Page.astro";
import SiteBanner from "$components/blocks/SiteBanner.astro";
import CenterBlock from "$components/blocks/CenterBlock.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
---

<Page title="Home" navigation={false}>
    <SiteBanner />
    <CenterBlock>
        <Paper>
            <Content theme="paper" style="max-width: 20rem;">
                <p><strong>This site is under construction!</strong></p>
                <p>More things will be here soon, but for now you can check out my social links.</p>
                <br />
            </Content>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <ArrowButton href="/socials">Check out my socials</ArrowButton>
            </div>
        </Paper>
    </CenterBlock>
    <!-- <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Explore</h2>
            </PaperTitle>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 1rem;">
                <ArrowButton href="/playlists">Playlists</ArrowButton>
                <ArrowButton href="/shrines">Shrines</ArrowButton>
                <ArrowButton href="/blinkies">Blinkies</ArrowButton>
            </div>
        </Paper>
    </ContentBlock> -->
</Page>
