---
import Page from "$layouts/Page.astro";
import SiteBanner from "$components/blocks/SiteBanner.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import CenterBlock from "$components/blocks/CenterBlock.astro";
import Paper from "$components/containers/Paper.astro";
import StickyNote from "$components/containers/StickyNote.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
---

<Page title="Home" navigation={false}>
    <SiteBanner />
    <CenterBlock>
        <Paper>
            <Content theme="paper" style="max-width: 20rem;">
                <p>This site is under construction!</p>
                <p>More things will be here soon, but for now you can check out my social links.</p>
                <br />
            </Content>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <ArrowButton href="/socials">Check out my socials</ArrowButton>
            </div>
        </Paper>
    </CenterBlock>
</Page>
