---
import StickyNote from "$components/containers/StickyNote.astro";
import { getCollection } from "astro:content";

const quotes = await getCollection("tagline");
---

<a id="tagline-container" target="_blank" rel="noreferrer noopener" class="hidden">
    <StickyNote padding={false}>
        <p id="tagline-text"></p>
    </StickyNote>
</a>

<script define:vars={{ quotes }}>
    let seenQuotes = [];

    try {
        let seenData = localStorage.getItem("taglines-seen");

        if (seenData) {
            seenQuotes = JSON.parse(seenData);
        }
    } catch (err) {
        console.error(err);
    }

    function refreshQuote() {
        let taglineText = document.getElementById("tagline-text");
        let taglineContainer = document.getElementById("tagline-container");

        if (!taglineText || !taglineContainer) return;

        if (seenQuotes.length >= quotes.length) {
            seenQuotes = [];
        }
        while (seenQuotes.length >= 50) {
            seenQuotes.shift();
        }

        let forcedMode = quotes.some((quote) => quote.data.force);
        let pickableQuotes = quotes.filter((quote) =>
            forcedMode ? quote.data.force : !seenQuotes.includes(quote.id),
        );

        let quote = pickableQuotes[Math.floor(Math.random() * pickableQuotes.length)];

        if (quote.data.type === "song") {
            taglineText.innerHTML = `&#9835;&nbsp;${quote.data.text}&nbsp;&#9835;`;
        } else if (quote.data.type === "quote") {
            taglineText.innerHTML = `&ldquo;${quote.data.text}&rdquo;`;
        } else {
            taglineText.innerHTML = quote.data.text;
        }

        if (quote.data.href) {
            taglineContainer.setAttribute("href", quote.data.href);
        } else {
            taglineContainer.removeAttribute("href");
        }

        taglineContainer.classList.remove("hidden");

        seenQuotes.push(quote.id);
        localStorage.setItem("taglines-seen", JSON.stringify(seenQuotes));
    }

    refreshQuote();

    const boopTarget = document.getElementById("boop-target");

    // if (boopTarget) {
    //     boopTarget.addEventListener("click", refreshQuote);
    // }
</script>

<style lang="scss">
    #tagline-text {
        max-width: 34ch;

        padding: 1.2rem 2.5rem;

        font-weight: var(--font-medium);
        text-align: center;
        text-wrap: balance;
        line-height: 1.25;
    }
</style>
