---
import StickyNote from "$components/containers/StickyNote.astro";
import { getCollection } from "astro:content";

const quotes = (await getCollection("tagline")).map((tagline) => tagline.data);
---

<a id="tagline-container" target="_blank" rel="noreferrer noopener">
    <StickyNote padding={false}>
        <p id="tagline-text"></p>
    </StickyNote>
</a>

<script define:vars={{ quotes }}>
    function refreshQuote() {
        let taglineText = document.getElementById("tagline-text");
        let taglineContainer = document.getElementById("tagline-container");

        if (!taglineText || !taglineContainer) return;

        let forcedMode = quotes.some((quote) => quote.force);
        let pickableQuotes = quotes.filter((quote) => (forcedMode ? quote.force : true));

        let quote = pickableQuotes[Math.floor(Math.random() * pickableQuotes.length)];

        if (quote.type === "song") {
            taglineText.innerHTML = `&#9835;&nbsp;${quote.text}&nbsp;&#9835;`;
        } else if (quote.type === "quote") {
            taglineText.innerHTML = `&ldquo;${quote.text}&rdquo;`;
        } else {
            taglineText.innerHTML = quote.text;
        }

        if (quote.href) {
            taglineContainer.setAttribute("href", quote.href);
        } else {
            taglineContainer.removeAttribute("href");
        }
    }

    refreshQuote();

    const boopTarget = document.getElementById("boop-target");

    // if (boopTarget) {
    //     boopTarget.addEventListener("click", refreshQuote);
    // }
</script>

<style lang="scss">
    #tagline-text {
        max-width: 34ch;

        padding: 1.2rem 2.5rem;

        font-weight: var(--font-medium);
        text-align: center;
        text-wrap: balance;
        line-height: 1.25;
    }
</style>
