---
import ArrowButton from "$components/elements/ArrowButton.astro";
import Skeleton from "./Skeleton.astro";

interface Props {
    title: string;
    navigation?: boolean;
    footer?: boolean;
}

let { title, navigation = true, footer = true } = Astro.props;
---

<Skeleton {title} bodyClass="background-carpet">
    {
        navigation && (
            <nav class="page-navigation">
                <ArrowButton href="/" direction="backwards">
                    Return to homepage
                </ArrowButton>
            </nav>
        )
    }
    <main class="page-content">
        <slot />
    </main>
    {footer && <footer class="page-footer"></footer>}
</Skeleton>

<style lang="scss">
    body {
        display: flex;
        flex-direction: column;
    }

    .page-content {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
    }

    .page-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

        padding: 2rem;
    }

    .page-footer {
        margin-top: 8rem;
    }
</style>
